<div id="<%= dom_id message %>">
  <p><%= message.content %></p>
  <%= link_to 'Show', message, class: 'show-message' %>
  <%= link_to 'Delete', 
              message_path(message), 
              data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, 
              class: 'delete-message' %>
</div>
