<p style="color: green"><%= notice %></p>

<% content_for :title, "Messages" %>

<h1>Messages</h1>

<div id="new_message">
  <%= render 'messages/messages_form', message: @message %>
</div>

<div id="messages">
  <%= render @messages %>
</div>
